RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.mytholympics\.com$ [NC]
RewriteRule ^(.*)$ https://www.mytholympics.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]