@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Sniglet');

/* ----------Large objects---------- */

html,
body {
  width: auto;
  margin-left: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  background-color: #FFF7E8;
  color: #312431;
}

body {
  width: 100%;
  margin-top: -1.2em;
  padding-top: 1em;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.centerWrapper {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.centerImage {
  margin: auto;
  margin-top: 3em;
  width: 90%;
  max-width: 900px;
}




/* ----------Footer---------- */

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  z-index: 10;
  text-align: center;
  background: #312431;
  color: #EDD29E;
  border-top: 5px solid #EDD29E;
  font-family: 'Sniglet', cursive;
  visibility: hidden;
  margin-top: 5em;
  padding-bottom: 0.3em;
}

footer p {
  font-size: 1em;
  margin: 0;
  margin-top: .5em;
  padding: 0;
  padding-top: .3em;
}

footer h2 {
  margin: 0;
  margin-top: .2em;
}

footer img {
  float: right;
}

#footerContainer {
  width: 300px;
  margin: auto;
}


/* ----------Survey---------- */

#survey {
  margin: 1em;
  margin-bottom: 10em;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
}


/* ----------Front Page Logo---------- */

#logoCanvas {
  margin-top: 2em;
}


/* ----------Video and Border Stacking---------- */

.stackingContainer {
  margin: 0 auto;
  height: 800px;
  width: 1068px;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.stackingParent {
  position: relative;
}

.stackingBottom {
  position: absolute;
  z-index: 0;
}

.stackingTop {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}


/* ----------Elements---------- */

p {
  font-family: 'Sniglet', cursive;
  font-size: 1.5em;
  margin-top: -1em;
  font-weight: bold;
}

/* unvisited/visited link */

a:link,
a:visited {
  color: #312431;
  text-decoration: none;
  border-bottom: 0px solid transparent;
  transition: border-bottom 0.2s;
}

/* mouse over link */

a:hover {
  color: #312431;
  border-bottom: 4px solid #312431;
  transition: border-bottom 0.2s;
}

a:active {
  color: #312431;
}
