@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Sniglet');

/* ----------Large objects---------- */

html,
body {
  margin: 0;
  margin-left: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  background-color: #FFF7E8;
  color: #312431;
}

body {
  margin-top: -1.2em;
  padding-top: 1em;
  font-family: 'Sniglet', cursive;
}

.centerWrapper {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 80px;
}

.centerImage {
  margin: auto;
  margin-top: 3em;
  width: 90%;
  max-width: 900px;
}

#postWrapper {
  margin: auto;
  width: 542px;
}

.textBounder {
  width: 700px;
  text-align: center;
  margin: auto;
}


/* ----------Header---------- */

header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 39px;
  width: 100%;
  padding-bottom: .3em;
  z-index: 10;
  text-align: center;
  background: #312431;
  color: #EDD29E;
  border-bottom: 4px solid #EDD29E;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-shadow: -1px -1px 0 #2E281F,
  1px -1px 0 #2E281F,
  -1px 1px 0 #2E281F,
  1px 1px 0 #2E281F;
}

header h1 {
  margin: 0;
  width: 200px;
  color: #EDD29E;
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: .2em;
  padding-right: .2em;
  font-size: 1.7em;
}

header h2 {
  position: fixed;
  margin: 0;
  left: 10px;
  top: 2px;
}

.navLink:link,
.navLink:visited {
  color: #EDD29E;
  text-decoration: none;
  border: 5px solid transparent;
  border-radius: 9px;
  transition: border 0.3s, color 0.1s;
}

.navLink:hover {
  color: #FFF7E8;
  border: 5px solid #312431;
  border-radius: 9px;
  transition: border 0.3s, color 0.1s;
}

.navLink:active {
  color: #EDD29E;
}

.currentPage {
  color: #EDD29E;
  text-decoration: none;
  border: 5px solid #312431;
  border-radius: 9px;
}

/* ----------Footer---------- */

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  z-index: 10;
  text-align: center;
  background: #312431;
  color: #EDD29E;
  border-top: 5px solid #EDD29E;
  font-family: 'Saira Semi Condensed', sans-serif;
  visibility: hidden;
  margin-top: 10px;
  padding-bottom: 0.3em;
  text-shadow: -1px -1px 0 #2E281F,
  1px -1px 0 #2E281F,
  -1px 1px 0 #2E281F,
  1px 1px 0 #2E281F;
}

footer p {
  font-size: 1.04em;
  margin: 0;
  margin-top: .5em;
  padding: 0;
  font-family: 'Saira Semi Condensed', sans-serif;
}

footer h2 {
  margin: 0;
  margin-top: 0;
}

footer img {
  float: right;
}

#footerContainer {
  width: 300px;
  margin: auto;
}


/* ----------Survey---------- */

#survey {
  margin-top: 4em;
  margin-bottom: 10em;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
}


/* ----------Front Page Logo---------- */

#logoCanvas {
  margin-top: 4em;
  margin-bottom: 6em;
}


/* ----------Video and Border Stacking---------- */

.stackingContainer {
  margin: 0 auto;
  height: 800px;
  width: 1068px;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.stackingParent {
  position: relative;
}

.stackingBottom {
  position: absolute;
  z-index: 0;
}

.stackingTop {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}


/* ----------Elements---------- */

p {
  font-family: 'Sniglet', cursive;
  font-size: 1.5em;
  margin-top: -1em;
  font-weight: bold;
}

h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
}

/* unvisited/visited link */

.externalLink:link,
.externalLink:visited {
  color: #312431;
  text-decoration: none;
  padding: 0.3em;
  border: 3px solid transparent;
  border-bottom: 3px solid #312431;
  border-radius: 0px;
  transition: border 0.2s, border-radius 0.6s, background-color 0.4s, color 0.4s;
}

/* mouse over link */

.externalLink:hover {
  color: #FFF7E8;
  padding: 0.3em;
  border: 3px solid #312431;
  border-radius: 10px;
  background-color: #312431;
  transition: border 0.2s, border-radius 0.0s, background-color 0.4s, color 0.4s;
}

.externalLink:active {
  color: #312431;
}

#postWrapper iframe {
  border: none;
}

.textBounder h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 4.3em;
}

.textBounder h3 {
  margin: 0;
  text-align: left;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.textBounder p {
  text-align: left;
  margin-top: 1em;
  padding-bottom: 1em;
}

.roleText {
  float: right;
  margin: 0;
}

.floatRightImg {
  float: right;
  width: 120px;
  margin-left: 0.4em;
}


.floatLeftImg {
  float: left;
  width: 120px;
  margin-right: 0.4em;
  transform: scale(-1, 1);
}

.sectionSeparator {
  width: 700px;
  margin-top: 6em;
  margin-bottom: 6em;
}

.floatRightMemberImg {
  float: right;
  width: 200px;
  margin-left: 0.8em;
  border: 3px solid #312431;
  border-radius: 30px;
}


.floatLeftMemberImg {
  float: left;
  width: 190px;
  margin-right: 0.8em;
  border: 3px solid #312431;
  border-radius: 30px;
}


/* ----------Email Form---------- */

form {
  text-align: center;
  padding-bottom: 5em;
}

form p {
  margin: 0 auto;
  margin-top: 0.3em;
  text-align: center;
  font-size: 1.6em;
}

form input {
  width: 264px;
  margin-top: 1.0em;
  font-family: 'Sniglet', cursive;
  font-size: 0.8em;
}

form input[type=text] {
  outline: 3px solid #312431;
  width: 255px;
}

form input[type=submit]:default {
  margin-top: 0.1em;
  font-family: 'Sniglet', cursive;
  font-size: 1.6em;
  color: #312431;
  background-color: #FFF7E8;
  border: 3px solid #312431;
  border-radius: 0px;
  transition: border-radius 0.4s, background-color 0.4s, color 0.4s;
}

form input[type=submit]:hover {
  color: #FFF7E8;
  background-color: #312431;
  border-radius: 10px;
  cursor: pointer;
  transition: border-radius 0.4s, background-color: 0.4s, color 0.4s;
}

label {
  font-size: 1.3em;
  padding-left 1em;
  padding-right: 1em;
}

/* ----------Blog Page---------- */

#postWrapper h4 {
  margin-bottom: .23em;
  font-size: 1.3em;
  font-family: 'Sniglet', cursive;
}

#postWrapper p {
  margin-top: 1em;
}

.postAuthor {
  float: left;
}

.postDate {
  float: right;
}

.postChar {
  float: left;
  padding-right: .5em;
  width: 40px;
  margin-top: 1.3em;
}

.blogSeparator {
  width: 500px;
  margin-top: 4em;
  margin-bottom: 4em;
}
